#studentForm > div {
  padding: 0;
}

/*section > div {
  width: 80%;
  margin: 20px auto;
}

form {
  margin-top: 50px;
}

ul {
  padding: 15px 10px;
}

li {
  list-style: none;
  vertical-align: top;
  width: 48%;
}

dl:nth-of-type(even) {
  background-color: WhiteSmoke;
}

@media (min-width: 700px) {
  section > div {
    width: 60%;
  }
}

@media (min-width: 900px) {
  section > div {
    float: left;
    margin: 20px 5%;
    width: 40%;
  }

  section::after {
    clear: both;
    content: "";
    display: table;
  }
}*/
