#studentForm > div {
  padding: 0;
}

#studentList a {
  margin-left: 1em;
}

#studentList li:first-child .up {
  pointer-events: none;
  color: gray;
}

#studentList li:last-child .down {
  pointer-events: none;
  color: gray;
}

#studentList li:first-child .top {
  pointer-events: none;
  color: gray;
}
