#studentForm > div {
  padding: 0;
}

#studentList a {
  margin-left: 1em;
}

#studentList li:first-child a.up,
#studentList li:last-child a.down,
#studentList li:first-child a.promote {
  pointer-events: none;
  color: #ddd;
}

span.actions {
  display: inline-block;
  float: right;
}

span.studentName {
  display: inline-block;
  padding: 1px;
  width: 15em;
}

span[contenteditable=true] {
  border: 1px solid #ccc;
  padding: 0;
}
